/* RecuperarContrasena.css */
.blog-container {
    padding: 20px;
    border: 1px solid #ccc;
    margin: auto;
    width: 80%;
  }
  
  .blog-header h1 {
    color: #333;
  }
  
  .error {
    color: red;
  }
  
  .login-form input[type="email"]{
    display: block;
    width: 90%;
    margin-top: 10px;
    padding: 10px;
  } 
  .login-form button {
    display: block;
    width: 90%;
    margin-top: 10px;
    padding: 10px;
  }
  
  .back-button button {
    margin-top: 20px;
    padding: 10px 20px;
  }
  